.checkbox-body {
  margin-top: 10px;
  div  {
    cursor: pointer;
  }
  .interval {
    margin-bottom: 10px;
  }
  label {
    margin-top: 2px;
  }
  .checkbox {
    vertical-align: text-bottom;
    margin-bottom: 2px;
    *margin-bottom: -2px;
    margin-right: 3px;
  }
  .text {
    width: 100px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin: 0 10px;
    outline: none;
  }
  .small {
    margin-left: 3px;
  }
}