  .task-type {
    margin-top: 20px;
    .ball {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background: #DCDCDC;
      color: white;
      text-align: center;
      line-height: 30px;
      margin-right: 5px;
    }
    .type {
      height: 30px;
      width: 120px;
      background: #DCDCDC;
      border-radius: 6px;
      text-align: center;
      line-height: 30px;
      color: white;
      margin-right: 10px;
    }
    .active {
      background: #FFD600;
      color: white;
    }
    .small-ball-container {
      height: 30px;
      .small-ball {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        text-align: center;
        line-height: 20px;
        background: #999999;
        color: black;
        margin-right: 5px;
      }
    }
  }