.image-upload {
  margin-top: 13px;
  p {
    font-size: 14px;
    margin-bottom: 10px;
  }
  .image-style {
    padding: 0;
    width: 450px;
    height: 250px;
    border: 1px solid #ccc;
    text-align: center;
    line-height: 250px;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    img {
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
      width: 450px;
      height: 250px;
    }
  }
}