<div class="deadline-container row" [formGroup]="group">
  <label for="deadline" class="col-sm-2">提交截止时间:</label>
  <div class="d-block" class="col-sm-10 row">
    <input type="date" id="deadline" class="col-sm-3" [formControlName]="config.name">
    <ng-container class="col-sm-4 row">
      <select name="" id="" class="col-sm-1">
        <option *ngFor="let h of hour">{{h}}</option>
      </select>
      <select name="" id="" class="col-sm-1">
        <option *ngFor="let m of minute">{{m}}</option>
      </select>
      <div class="col-sm-1">
          <div class="small-ball">?</div>
      </div>
    </ng-container>
    <div class="makeup-gui col-sm-10">
      <input type="checkbox"> 提交截止后允许补交
    </div>
  </div>

</div>