.form-input {
  position: relative;
  input {
    width: 400px;
    height: 50px;
    border-radius: 6px;
    border: 1px solid #ccc;
    padding-left: 50px;
  }
  .class-icon {
    color: #ddd;
    position: absolute;
    font-size: 28px;
    top: 6px;
    left: 14px;
  }
}
