<div class="form-group row dynamic-field form-select" [formGroup]="group">
  <label class="col-sm-2">{{ config.label }}:</label>
  <div class="col-sm-8 row" >
      <select (change)="twoClick($event)" class="pClassify" >
        <option value="IT互联网">IT互联网</option>
        <option value="职业考试">职业考试</option>
        <option value="职业素养">职业素养</option>
        <option value="职业规划">职业规划</option>
        <option value="生活兴趣">生活兴趣</option>
      </select>
      <select [formControlName]="config.name">
        <option *ngFor="let item of twoClassify; let i = index;" value="{{item}}">{{item}}</option>
      </select>
  </div>
</div>