button {
  letter-spacing: -0.5px;
  cursor: pointer;
  background: -webkit-linear-gradient(left, #F98870 , #FCAC73); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(right,  #F98870 , #FCAC73); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(right,  #F98870 , #FCAC73); /* Firefox 3.6 - 15 */
  background: linear-gradient(to right,  #F98870 , #FCAC73); /* 标准的语法 */
  outline: 0;
  line-height: 1;
  text-align: center;
  font-size: 18px;
  width: 400px;
  height: 50px;
  font-weight: 600;
  border-radius: 4px;
  display: inline-block;
  border: none;
  color: #fff;
  transition: background-color .3s, box-shadow .3s;

  &:hover {
    background-color: #F98870;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
  }

  &:disabled {
    background: rgba(0, 0, 0, 0.2);
    color: rgba(0, 0, 0, 0.4);
    cursor: not-allowed;
    box-shadow: none;
  }
}