<div class="container">
  <form action="" class="form-horizontal" role="form">
    <div class="form-group">
      <label for="dtp_input1" class="col-md-2 control-label">DateTime Picking</label>
      <div class="input-group date form_datetime col-md-5" data-date="1979-09-16T05:25:07Z" data-date-format="dd MM yyyy - HH:ii p"
        data-link-field="dtp_input1">
        <input class="form-control" size="16" type="text" value="" readonly>
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-remove"></span>
        </span>
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-th"></span>
        </span>
      </div>
      <input type="hidden" id="dtp_input1" value="" />
      <br/>
    </div>



    <div class="form-group">
      <label for="dtp_input2" class="col-md-2 control-label">Date Picking</label>
      <div class="input-group date form_date col-md-5" data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input2"
        data-link-format="yyyy-mm-dd">
        <input class="form-control" size="16" type="text" value="" readonly>
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-remove"></span>
        </span>
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-calendar"></span>
        </span>
      </div>
      <input type="hidden" id="dtp_input2" value="" />
      <br/>
    </div>

    <div class="form-group">
      <label for="dtp_input3" class="col-md-2 control-label">Time Picking</label>
      <div class="input-group date form_time col-md-5" data-date="" data-date-format="hh:ii" data-link-field="dtp_input3" data-link-format="hh:ii">
        <input class="form-control" size="16" type="text" value="" readonly>
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-remove"></span>
        </span>
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-time"></span>
        </span>
      </div>
      <input type="hidden" id="dtp_input3" value="" />
      <br/>
    </div>

  </form>
</div>

<h1> EXPAMENT</h1>
<div class="container">
  <form action="" class="form-horizontal" role="form">
    <fieldset>
      <legend>Test</legend>
      <div class="form-group">
        <label for="dtp_input1" class="col-md-2 control-label">DateTime Picking</label>
        <div class="input-group date form_datetime col-md-5" data-date="1979-09-16T05:25:07Z" data-date-format="dd MM yyyy - HH:ii p"
          data-link-field="dtp_input1">
          <input class="form-control" size="16" type="text" value="" readonly>
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-remove"></span>
          </span>
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-th"></span>
          </span>
        </div>
        <input type="hidden" id="dtp_input1" value="" />
        <br/>
      </div>
      <div class="form-group">
        <label for="dtp_input2" class="col-md-2 control-label">Date Picking</label>
        <div class="input-group date form_date col-md-5" data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input2"
          data-link-format="yyyy-mm-dd">
          <input class="form-control" size="16" type="text" value="" readonly>
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-remove"></span>
          </span>
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
        <input type="hidden" id="dtp_input2" value="" />
        <br/>
      </div>
      <div class="form-group">
        <label for="dtp_input3" class="col-md-2 control-label">Time Picking</label>
        <div class="input-group date form_time col-md-5" data-date="" data-date-format="hh:ii" data-link-field="dtp_input3" data-link-format="hh:ii">
          <input class="form-control" size="16" type="text" value="" readonly>
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-remove"></span>
          </span>
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-time"></span>
          </span>
        </div>
        <input type="hidden" id="dtp_input3" value="" />
        <br/>
      </div>

      请继续你的表演！！！！

      <div class="form-group">
        <label for="">form-datetime-oay01</label>
        <br/>
        <input type="text" size="16" value="" class="form-datetime-oay01">
      </div>
      <div class="form-group">
        <label for="">form-datetime-oay02</label>
        <br/>
        <input type="text" size="16" value="" class="form-datetime-oay02">
      </div>
      <div class="form-group">
        <label for="">form-datetime-oay03</label>
        <br/>
        <input type="text" size="16" value="" class="form-datetime-oay03">
      </div>
      <div class="form-group">
        <label for="">form-datetime-oay04</label>
        <small>给日期时间选择器设置一个新的起始日期。。</small>
        <br/>
        <input type="text" size="16" value="" class="form-datetime-oay04">
      </div>
      <div class="form-group">
        <label for="">form-datetime-oay05</label>
        <small>给日期时间选择器设置结束日期。</small>
        <br/>
        <input type="text" size="16" value="" class="form-datetime-oay05">
      </div>
      <div class="form-group">
        <label for="">form-datetime-oay06</label>
        <small>限制周。</small>
        <br/>
        <input type="text" size="16" value="" class="form-datetime-oay06">
      </div>
    </fieldset>
  </form>
</div>